# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/Multi-Core-Cache-Coherence.iml
.idea/vcs.xml
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-1b1b03a7bb4a32b55271.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ca0345cc525db0268fd9.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2061b14653f43c4a3659.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-11-10T05-26-53-0862.json
cmake-build-debug/.cmake/api/v1/reply/target-Multi_Core_Cache_Coherence-Debug-b47adfd1526cba79c1d2.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-f1b2b3b9642b509dfa7c.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
